{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ Abouts.title }}{% endblock %}

{% block extracss %}
<style>
    .shadow-box {
        padding: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }
    .link {
        text-decoration: none;
        color: #007bff;
    }
    .link:hover {
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}
<!--Hakkımızda-->
<div class="row">
    <div class="col-md-12 mb-4">
        <h2 class="mb-4">{{ Abouts.title }}</h2>
        <p>{{ Abouts.content|safe }}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div>
            <img src="https://private-user-images.githubusercontent.com/116019903/292781033-6fb25c14-dfd9-4c38-bc79-a4af10e9fdce.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjAxODMzNTQsIm5iZiI6MTcyMDE4MzA1NCwicGF0aCI6Ii8xMTYwMTk5MDMvMjkyNzgxMDMzLTZmYjI1YzE0LWRmZDktNGMzOC1iYzc5LWE0YWYxMGU5ZmRjZS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNzA1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDcwNVQxMjM3MzRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT01ODQ2MDc4MjhmYmExZjExZjJkMzM2ZjhlMWI2ZmE0MTc1NDdkMGNiMzYyMTU4NTkyNzM3NjcxNTA2NTIyNmRkJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.h4dlfEZi_TQzwjd4R4joRGnTdMy3tgodiFsnFWB7kKM" alt="resim" class="img-fluid" width="500" height="auto">
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div>
            <img src="https://private-user-images.githubusercontent.com/116019903/292781120-5f7b99f2-20c0-4065-b3fd-6ce59c0349cc.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjAxODMzNTQsIm5iZiI6MTcyMDE4MzA1NCwicGF0aCI6Ii8xMTYwMTk5MDMvMjkyNzgxMTIwLTVmN2I5OWYyLTIwYzAtNDA2NS1iM2ZkLTZjZTU5YzAzNDljYy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNzA1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDcwNVQxMjM3MzRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT04MmExMjkyNmMyYjQ5Zjg1YTA4MWZlZWIxZjhhNTVlYzdlZDg4Mzg5YzI4NjliMDBjOGQ3YWFjZmIyMTg1MDdlJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.eIQclvqZ96GVzg_XxHj5Ldmx1klozDRg1mIj6Jxn7bU" alt="resim" class="img-fluid" width="500" height="auto">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mb-4">
        <div>
            <img src="https://private-user-images.githubusercontent.com/116019903/292781124-f83f9d89-5860-4f1b-abf6-6f2ae0749df1.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MjAxODM1MDQsIm5iZiI6MTcyMDE4MzIwNCwicGF0aCI6Ii8xMTYwMTk5MDMvMjkyNzgxMTI0LWY4M2Y5ZDg5LTU4NjAtNGYxYi1hYmY2LTZmMmFlMDc0OWRmMS5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNzA1JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDcwNVQxMjQwMDRaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT04N2U4NmEwNWQxYzE4NTg5OWU0ZDkxZWE2NTBlNzYwYzEyOWE3ZmEyNDkwMDUzZWE4NjAxZGJiMTEwOWQ1OTE2JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.PNgKY5Mo8FTT_mqkHFI4ny5LbsCQ2hBUw_waV3V5oo0" alt="resim" class="img-fluid" width="500" height="auto">
        </div>
    </div>
    <div class="col-md-6 mb-4">
        <div class="shadow-box">
            <p>Projelerime göz atmak için tıklayınız: <a href="https://github.com/rkaya21?tab=repositories" target="_blank" class="link">Tıkla!</a></p>
        </div>
    </div>
</div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const images = document.querySelectorAll('.img-fluid');

        images.forEach(image => {
            image.addEventListener('mouseenter', function() {
                image.style.transform = 'scale(1.4)';
                image.style.transition = 'transform 0.3s ease';
            });

            image.addEventListener('mouseleave', function() {
                image.style.transform = 'scale(1)';
                image.style.transition = 'transform 0.3s ease';
            });
        });

        const link = document.querySelector('.link');

        link.addEventListener('click', function(event) {
            event.preventDefault();
            window.open('https://github.com/rkaya21?tab=repositories', '_blank');
        });
    });
</script>

<!--Hakkımızda-->
{% endblock %}
