{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{ settings.title }} {% endblock %}
{% block page_description %} {{ settings.description }} {% endblock %}
{% block page_keywords %} {{ settings.keywords }} {% endblock %}

{% block extracss %}{% endblock %}

{% block content %}
    <!-- Slider -->

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://via.placeholder.com/800x300" class="d-block w-100" alt="First slide">
        </div>
        <div class="carousel-item">
            <img src="https://via.placeholder.com/800x301" class="d-block w-100" alt="Second slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

    <!-- Slider -->

    <!--About Me-->
<div class="row mt-4 mb-4">
    <div class="col-md-8">
        <h2 class="mb-4">{% translate 'Hakkımda' %}</h2>
        <p>Hello, I'm Recep Enes, a second-year Management Information Systems student.
            Alongside completing my first year at B1 level in English,
            I delved into the world of software development with the C programming language.
            I continued with C#, and my interest in web programming was sparked after developing skills in HTML, CSS, and JavaScript.
            I then became interested in the NodeJs.
            However, I later learned Python and I'm currently focusing on Django framework.
            I want to develop myself in the field of back-end.
        </p>
        <a href="#" class="btn btn-primary">{% translate 'Daha Fazla' %}</a>
    </div>

    <div class="col-md-4">
        <img src="https://via.placeholder.com/400x300" alt="Hakkımızda Resmi" class="img-fluid">
    </div>
</div>
<!--About Me→

<! --Services-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Hizmetler' %}</h2>

    <!-- Card 1 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 7 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>

    <!-- Card 8 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Title</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </div>
</div>
<!--Services→

<! --Blogs-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Bloglar' %}</h2>
    <!-- Card 1 -->
    <div class="col-md-3">
        <div class="card">
            <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 1">
            <div class="card-body">
                <h5 class="card-title">Başlık 1</h5>
                <p class="card-text">Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary">{% translate 'Detaylar' %}</a>
            </div>
        </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-3">
        <div class="card">
            <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 2">
            <div class="card-body">
                <h5 class="card-title">Başlık 2</h5>
                <p class="card-text">Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary">{% translate 'Detaylar' %}</a>
            </div>
        </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-3">
        <div class="card">
            <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 3">
            <div class="card-body">
                <h5 class="card-title">Başlık 3</h5>
                <p class="card-text">Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary">{% translate 'Detaylar' %}</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <img src="https://via.placeholder.com/200x150" class="card-img-top" alt="Resim 3">
            <div class="card-body">
                <h5 class="card-title">Başlık 4</h5>
                <p class="card-text">Açıklama metni buraya yazılır. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <a href="#" class="btn btn-primary">{% translate 'Detaylar' %}</a>
            </div>
        </div>
    </div>
</div>
    <!--Blogs-->


{% endblock %}
