{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %} {{ settings.title }} {% endblock %}
{% block page_description %} {{ settings.description }} {% endblock %}
{% block page_keywords %} {{ settings.keywords }} {% endblock %}

{% block extracss %}{% endblock %}

{% block content %}
    <!-- Slider -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for slider in Sliders %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="media/{{ slider.image }}" class="d-block w-100" alt="{{ slider.title }}">
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- Slider -->

    <!-- About Me -->
    <div class="row mt-4 mb-4">
        <div class="col-md-8 col-12 mb-4 mb-md-0">
            <h2 class="mb-4">{{ Abouts.title }}</h2>
            <p>{{ Abouts.content|safe|truncatechars:700 }}</p>
            <a href="{% url 'about' %}" class="btn btn-primary">{% translate 'Daha Fazla' %}</a>
        </div>

        <div class="col-md-4 col-12">
            <img src="https://via.placeholder.com/400x300" alt="Hakkımızda Resmi" class="img-fluid">
        </div>
    </div>
    <!-- About Me -->

<! --Services-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Hizmetler' %}</h2>

    <!-- Card 1 -->
    {% for service in Services %}
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text">{{ service.content|safe }}</p>
            </div>
        </div>
    </div>
 {% endfor %}
</div>


<!--Services→

<! --Blogs-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Bloglar' %}</h2>

    <!-- Card 1 -->
    {% for blog in Blogs %}
    <div class="col-md-3">
        <div class="card">
            <img src="media/{{ blog.image }}" class="card-img-top" alt="{{ blog.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ blog.title }}</h5>
                <p class="card-text">{{ blog.content|safe|truncatechars:200 }}</p>
                <a href="{% url 'blog-detail' slug=blog.slug %}" class="btn btn-primary">{% translate 'Detaylar' %}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
    <!--Blogs-->


{% endblock %}
