{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Hizmetler{% endblock %}
{% block page_description %} Hizmetler sayfa içeriği {% endblock %}

{% block extracss %}{% endblock %}
{% block content %}
<!--Services-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Hizmetler' %}</h2>

    <!-- Card 1 -->
    {% for service in Services %}
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ service.title }}</h5>
                <p class="card-text">{{ service.content|safe }}</p>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
<!--Services-->
{% endblock %}
