{% load static %}
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Recep Enes Kaya{% endblock %}</title>
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <meta name="keywords" content="{% block page_keywords %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% block extracss %} {% endblock %}
</head>

<!-- Üst kısımda yer alan logo -->
<div>
    <img width="1460" height="250" src="{% static 'dimg/logo.png' %}" alt="logo" class="logo">
    <p class="text-light">My Logo</p>
</div>

<!-- Navbar -->
<nav style="margin-top: -20px !important" class="navbar navbar-expand-lg navbar-dark bg-dark mt-1">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">{% translate 'Ana Sayfa' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{% translate 'Hakkımda' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">{% translate 'Hizmetler' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog' %}">{% translate 'Blog' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contact' %}">{% translate 'İletişim' %}</a>
                </li>
            </ul>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        {% translate 'Seçili Dil' %} {{ CURRENT_LANGUAGE }}
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                        {% for language in languages %}
                             <li><a
                                     {% if language.code == CURRENT_LANGUAGE %}
                                         class="dropdown-item active"
                                     {% else %}
                                         class="dropdown-item"
                                     {% endif %}    
                                     href="{% url 'set-language' language.code %}">{{ language.name }}</a></li>
                                     {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="container mt-5">

    {% block content %}{% endblock %}

    </div>

    <!-- Footer -->
    <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center  border-top bg-dark">
        <div class="col-md-4 d-flex align-items-center ">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-light">© 2024 Recep Enes Kaya </span>
        </div>

        <ul style="margin-right: 20px !important;" class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-light" href="{{ settings.github_url }}"><i class="bi bi-github"></i></a></li>
            <li class="ms-3"><a class="text-light" href="{{ settings.instagram_url }}"><i class="bi bi-instagram"></i></a></li>
            <li class="ms-3"><a class="text-light" href="{{ settings.linkedin_url }}"><i class="bi bi-linkedin"></i></a></li>
        </ul>

    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block js_files %}{% endblock %}

</body>

</html>