{% load static %}
{% load i18n %}

<!-- Sidebar Area -->
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{% translate 'Arama' %}</h5>
                <form>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <button type="submit" class="btn btn-primary">{% translate 'Arama' %}</button>
                </form>
            </div>
        </div>

        <!-- Popular Blogs -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title mb-4">{% translate 'Popüler Blog' %}</h5>
                <ul class="list-group">
                    <!-- Blog 1 -->
                    {% for pblog in PBlogs %}
                    <li class="list-group-item">
                        <a class="text-decoration-none" href="{% url 'blog-detail' pblog.slug %}"><h5 class="card-title">{{ pblog.title }}</h5></a>
                        <p class="card-text">{{ pblog.content|safe| truncatechars:100 }}</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Categories -->
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{% translate 'Kategoriler' %}</h5>
                <!-- List of categories -->

                <ul class="list-group list-group-flush">
                     {% for category in Categories %}
                    <a class="list-group-item" href="{% url 'category-detail' category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Tags Cloud -->
        <div style="margin-bottom: 60px !important;" class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">{% translate 'Etiketler' %}</h5>
                <!-- Tags cloud -->
                {% for tag in most_common_tags %}
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary my-2 me-1">{{ tag.name }} {{ tag.num_times }}</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>